src/__pycache__
db
fastapi_server/__pycache__
*.iml
.gradle
android_app/local.properties
android_app/.idea/caches
android_app/.idea/libraries
android_app/.idea/modules.xml
android_app/.idea/workspace.xml
android_app/.idea/navEditor.xml
android_app/.idea/assetWizardSettings.xml
.DS_Store
android_app/build
android_app/captures
android_app/.externalNativeBuild
android_app/.cxx
android_app/local.properties

